body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient( to right, #717D7E, #AAB7B8); opacity: 0.5px;

}

.box{
    width: 500px;
    padding: 50px;
    position: relative;
    left: 65%;
    background: #222222;
    text-align: center;
    transition: 0.25s;
    margin-top: 150px;
    border: #222222 2px ;
    border-radius: 8px;
}

.box input[type="email"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ce60c8;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box h1 {
    color: white;
    font-weight: 500px;
    font-family: 'Satisfy', cursive;
}

.box input[type="email"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #F1C40F
}
.box input[type="submit"] {
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #F1C40F;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

.box input[type="submit"]:hover {
    background: #F1C40F;

}
.box button {
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #F1C40F;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}
.box button:hover {
    background: #F1C40F;

}

.forgot {
    color: #fff;
    text-decoration: none;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}